body {
  margin: 0;
  background-color: #0e9db7;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.footer {
  background-color: #4c0b0b;
  bottom: 0;
  width: 100%;
}

body {
  font-size: 16px;
}

.headerNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(34, 178, 166);
}

.logo {
  width: 150px;
  height: auto;
  margin: 15px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.loginRegister li {
  margin: 20px 35px;
}

.home {
  text-align: center;
  margin: 0 20px;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
