body {
    font-size: 16px;
}

// HeaderNavBar
.headerNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(34, 178, 166);
}

.logo {
    width: 150px;
    height: auto;
    margin: 15px;
}

.links
{
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.loginRegister li {
    margin: 20px 35px;
}

// Main Home

.home {
    text-align: center;
    margin: 0 20px;
}