body {
    margin: 0;
    background-color: #0e9db7;
    box-sizing: border-box;
  }

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.footer {
  background-color: #4c0b0b;
  bottom: 0;
  width: 100%;
}

@import "desktop.scss";

@media only screen and (max-width: 768px) {
  @import "mobile.scss";
}
